<ion-header>
  <ion-toolbar mode="ios">
    <div>
      <ion-buttons slot="start">
       <ion-back-button text="" defaultHref="/editar-datos" ></ion-back-button>
      </ion-buttons>
   </div>
    <ion-title>Dirección de despacho</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content-login">
    <h1>Datos de despacho,</h1>
    <p>Ingresa o actualiza tus datos para el despacho.</p>
  
    <form>
      <ion-item mode="ios">
        <ion-label mode="ios" position="stacked">Región</ion-label>
        <ion-input type="email" placeholder="Metropolitana"></ion-input>
      </ion-item>
  
        <ion-item mode="ios">
          <ion-label mode="ios" position="stacked">Ciudad</ion-label>
          <ion-input type="email" placeholder="Santiago"></ion-input>
        </ion-item>
  
        <ion-item mode="ios">
          <ion-label mode="ios" position="stacked">Comuna</ion-label>
          <ion-input type="email" placeholder="Pudahuel"></ion-input>
        </ion-item>

        <ion-item mode="ios">
          <ion-label mode="ios" position="stacked">Dirección</ion-label>
          <ion-input placeholder="Lirquen 7719"></ion-input>
        </ion-item>

        <ion-item mode="ios">
          <ion-label mode="ios" position="stacked">Numero Dpto/Casa</ion-label>
          <ion-input type="number" placeholder="201"></ion-input>
        </ion-item>
  
        <div class="align-center">
          <ion-button mode="ios" class="btn-pink" expand="block" >Guardar</ion-button>
        </div>
  
  
    </form>
  </div>

</ion-content>
