ion-header {
  &:after {
    display: none;
  }
  ion-toolbar {
    --min-height: 50px;
    --border-width: 0;
    --background: var(--light-pink);
    ion-title {
      font-size: 14px;
      color: white;
    }
  }
}

ion-content {
  --padding-start: 20px;
  --padding-end: 20px;
  --padding-top: 20px;
  
  ion-list {

    ion-item {
      
      --padding-start: 0;
      ion-button {
        --background: transparent;
        color: var(--dark-pink);
        --background-activated: transparent;
      }
    }
  }
}