

<ion-content>

  <ion-card>
    <img src="assets/img/img_producto.jpeg" alt="">
    <ion-card-header>
      <ion-card-subtitle>$4500</ion-card-subtitle>
      <ion-card-title>Nombre producto</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <p>Descripción del producto</p>
      <P>Plata: X</P>
      <p>Peso: X</p>
      <p>Tamaño: X</p>
      <br>
      <p>SKU: 456</p>
      <p>Stock disponible: 0</p>

    <div class="formulario">
      <input type="number" placeholder="1">
      <ion-button class="btn-pink">Agregar</ion-button>
    </div>
    <div class="text-right">
      <ion-button class="btn-basic" (click)="dismiss()">Continuar comprando</ion-button>
    </div>
    </ion-card-content>

  
  </ion-card>


</ion-content>
