<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content-login">
  <h1>Mi cuenta</h1>
  <p>Seleccione una opción</p>

  <form>
  <div class="align-center"> 

    <ion-button mode="ios" class="btn-pink" expand="block" routerLink="/editar-datos" routerDirection="root">Editar mis datos</ion-button>
   </div>

   <div class="align-center"> 
    <ion-button mode="ios" class="btn-pink" expand="block" routerLink="/historial-compras" routerDirection="root">Historial de compras</ion-button>
   </div>

   <div class="align-center"> 
    <ion-button mode="ios" class="btn-pink" expand="block" routerLink="/estado-cotizacion" routerDirection="root">Estado de cotizaciones</ion-button>
   </div>
  </form>
</div>
</ion-content>
