<ion-header>
  <ion-toolbar mode="ios">
    <div>
      <ion-buttons slot="start">
       <ion-back-button text="" defaultHref="/editar-datos" ></ion-back-button>
      </ion-buttons>
   </div>
    <ion-title>Actualiza tu contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="content-login">
    <h1>Contraseña,</h1>
    <p>Actualiza tu contraseña.</p>

    <form>
      <ion-item mode="ios">
        <ion-label mode="ios" position="stacked">Actual contraseña</ion-label>
        <ion-input type="password" placeholder="************"></ion-input>
      </ion-item>

      <ion-item mode="ios">
        <ion-label mode="ios" position="stacked">Nueva contraseña*</ion-label>
        <ion-input type="password" placeholder="************"></ion-input>
      </ion-item>

      <ion-item mode="ios">
        <ion-label mode="ios" position="stacked">Confirmar nueva contraseña*</ion-label>
        <ion-input type="password" placeholder="************"></ion-input>
      </ion-item>

      <div class="align-center">
        <ion-button mode="ios" class="btn-pink" expand="block">Guardar</ion-button>
      </div>


    </form>
  </div>

</ion-content>
