<ion-header>
  <ion-toolbar mode="ios">
    <ion-title>
      Joyería Fevida
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="content-login">
    <h1>Bienvenido(a),</h1>
    <p>Inicia sesión para continuar</p>

    <form #form="">
      <ion-item mode="ios">
        <ion-label mode="ios" >Correo electrónico</ion-label>
        <ion-input type="email" name="correo" placeholder="micorreo@micorreo.cl"  [(ngModel)]="email" ></ion-input>
      </ion-item>

      <ion-item mode="ios">
        <ion-label mode="ios" >Contraseña</ion-label>
        <ion-input type="password" name="contraseña" placeholder="**********"   [(ngModel)]="password"></ion-input>
      </ion-item>

      <div class="button-right">
        <ion-button mode="ios" size="small"  routerDirection="root">Olvidé mi contraseña</ion-button>
      </div>

      <div class="align-center">
        <ion-button mode="ios" class="btn-pink" expand="block"  routerDirection="root" (click)= "tryLogin()">Entrar</ion-button>

        <div class="registro">
          ¿No tienes cuenta? <ion-button mode="ios" size="small" class="btn-registro"  routerDirection="root" (click)="formRegister()">Registrate aquí</ion-button>
        </div>
      </div>

    </form>
  </div>

</ion-content>